<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYpE_1CdEa6VmM_G8K0QeD6AsS8oAHAjo</string>
	<key>GCM_SENDER_ID</key>
	<string>902801366802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yakuUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yaku-e6100</string>
	<key>STORAGE_BUCKET</key>
	<string>yaku-e6100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902801366802:ios:248c2122187e9fae0dddcb</string>
</dict>
</plist>